ipykernel==6.23.1
numpy==1.24.4
tokenizers==0.13.3
torch==2.0.1
tqdm==4.66.4
transformers==4.29.2
beautifulsoup4==4.12.2
wandb==0.15.3
hydra-core==1.3.2
tensor-parallel==1.2.4
datasets==2.14.6
fire==0.4
accelerate==0.30.1
transformers-stream-generator==0.0.4
torch_optimizer==0.3.0
